@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello there! </h1>

<h2>Welcome to your Book Management App !</h2>

<h2>Click on the Login Tab to Sign in if you're here for the first time otherwise Register and let's get started!</h2>
